body{
  font-family: 'Roboto', sans-serif;
}

.bg-tiktok-dark{
    background-color: #010101;
}

.vh-100{
    height: 100vh;
}

.background-img-dark{
    min-height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0 , 0, 0, 0.7)),
    url(imagens/background-s1.jpg) no-repeat center center / cover;
    /*, 
    url(imagens/bg-dark.jpg) no-repeat center center / cover;*/
    /*background-color: #1e2124;*/
    /*url(imagens/bg-hema.jpg) no-repeat center center / cover */;
    margin-top: -10px; /*RETIRAR, COLOQUEI SOMENTE PARA SUMIR TEXTO LARANJA DA IMAGEM*/

}

.img-background-mentores{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0 , 0, 0, 0.2)), 
    url(imagens/background-tiktok-white.png) no-repeat center center / cover ;
    /*background-size: 250px;*/
}


.img-ts1{
  max-width: 800px;
}

.img-s1{
  max-width: 250px;
  /*margin-left: -35px;*/
  z-index: 1;
}

.img-s3{
  margin-left: -20px;
}

.img-fitamovie{
  max-width: 150px;
}

.fotohema-s1{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0px;
  max-width: 300px;
  margin-left:-60px;
  z-index: 0;
}

.fotodavi-s1{
  position: absolute;
  right: -35px;
  bottom: 0px;
  max-width: 240px;
  z-index: 0;
}

.fotodavi-s5{
  position: absolute;
  right: -150px;
  bottom: 0px;
  max-width: 580px;
  z-index: 0;
}

/******************************** INICIO BOTÃO ***************************************/

.pulse-button {
  position: relative;
  width:95%;
  /*height: 80px;*/
  padding: 3px 0px 5px 2px !important;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 255, 215, 0.7);
  color: white;
  border-radius: 2px;
  background-color: rgb(255, 0, 80);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulsep 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsep 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsep 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsep 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulsep {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulsep {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulsep {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@keyframes pulsep {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}

.pulse-buttonblue{
  background-color: rgb(9, 187, 181);
  box-shadow: 0 0 0 0 rgba(255, 0, 80, 0.7);
}
/******************************** FIM BOTÃO ***************************************/


.mt-6{
  margin-top: 5rem !important;
}

.animate__pulse {
  --animate-duration: 8s;
}

.animate__pulse__valores {
  --animate-duration: 3s;
}

.botao-comprar{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 15px;
}

.botao-comprar-blue{
  background-color: rgb(9, 187, 181);
}

.btn-tireduvidas{
  background-color: rgb(10, 143, 10);
}

.border-0{
  border: 0;
}

.ft-max{
  max-width: 180px;
}

.border-redtiktok{
  border: 2px solid rgb(255, 0, 80);
  opacity: 0.7;
}

.border-bluetiktok{
  border: 2px solid rgb(9, 187, 181);
  opacity: 0.7;
}

.border-white{
  border: 5px solid rgb(255, 255, 255);
  opacity: 0.9;
}

.text-gray{
  color: rgb(68, 68, 68);
}

.bg-darktiktokv1{
  background-color: #1f2224;
}

.bg-darktiktokv2{
  background-color: #1e2124;
}

.background-s5{
  padding: 10px;
  background-color: rgba(31, 34, 36, 0.8);

}

.titulo-este-curso{
  background-color: rgb(255, 0, 80);
  padding: 5px;
}
.color-redtiktok{
  color: rgb(255, 0, 80);
}

.color-bluetiktok{
  color: rgb(21, 226, 219);
}

.zindex-1{
  z-index: 1 !important;
}
.zindex-0{
  z-index: 0 !important;
}

/*TIREI OS EFEITOS DE FORMA GERAL DOS LINKS*/
a{
  text-decoration: none;
}


/* AJUSTES PÁGINA P/ PC */

@media (min-width: 992px) {
  
  .img-s1{
    max-width: 380px;
    /*margin-left: -35px;*/
    z-index: 1;
  }

  .img-fitamovie{
    max-width: 250px;
  }

  .fotohema-s1{
    position: absolute;
    left: 23%;
    right: 0;
    text-align: center;
    bottom: 0px;
    max-width: 300px;
    margin-left:-60px;
    z-index: 0;
  }

  .fotodavi-s1{
    position: absolute;
    right: 20%;
    bottom: 0px;
    max-width: 240px;
    z-index: 0;
  }

  .pulse-button{
    width: 70%;
  }

  .s5-modulo12 {
    margin-left: 10%;
  }

  .fotodavi-s5{
    position: absolute;
    right: 8%;
    bottom: 0px;
    max-width: 630px;
    z-index: 0;
  }
  
  .font-tamanho-s5 {
    font-size: 1.25rem !important;
  }

  .font-tamanho-s4 {
    font-size: calc(1.275rem + .3vw)!important;
  }

  .img-mentores {
    width: 38%;
  }

  .img-hemabio {
    width: 38%;
  }
  
  .img-hemabioprodutor {
    width: 47%;
    margin-right: 90%;
  }
  
  .img-davibio{
    width: 38%;
  }
  
  .img-davibiocoprodutor {
    width: 47%;
    margin-right: 90%;
  }

  .btn-tireduvidas {
    width: 45%;
  }

  
}

/* FIM AJUSTES PÁGINA P/ PC */

